html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

code {
  font-family: "Bitstream Vera Sans Mono", "Courier", monospace;
}

.highlight .c {
  color: #586e75;
}

/* Comment */
.highlight .err {
  color: #93a1a1;
}

/* Error */
.highlight .g {
  color: #93a1a1;
}

/* Generic */
.highlight .k {
  color: #859900;
}

/* Keyword */
.highlight .l {
  color: #93a1a1;
}

/* Literal */
.highlight .n {
  color: #93a1a1;
}

/* Name */
.highlight .o {
  color: #859900;
}

/* Operator */
.highlight .x {
  color: #cb4b16;
}

/* Other */
.highlight .p {
  color: #93a1a1;
}

/* Punctuation */
.highlight .cm {
  color: #586e75;
}

/* Comment.Multiline */
.highlight .cp {
  color: #859900;
}

/* Comment.Preproc */
.highlight .c1 {
  color: #586e75;
}

/* Comment.Single */
.highlight .cs {
  color: #859900;
}

/* Comment.Special */
.highlight .gd {
  color: #2aa198;
}

/* Generic.Deleted */
.highlight .ge {
  color: #93A1A1;
  font-style: italic;
}

/* Generic.Emph */
.highlight .gr {
  color: #dc322f;
}

/* Generic.Error */
.highlight .gh {
  color: #cb4b16;
}

/* Generic.Heading */
.highlight .gi {
  color: #859900;
}

/* Generic.Inserted */
.highlight .go {
  color: #93a1a1;
}

/* Generic.Output */
.highlight .gp {
  color: #93a1a1;
}

/* Generic.Prompt */
.highlight .gs {
  color: #93A1A1;
  font-weight: bold;
}

/* Generic.Strong */
.highlight .gu {
  color: #cb4b16;
}

/* Generic.Subheading */
.highlight .gt {
  color: #93a1a1;
}

/* Generic.Traceback */
.highlight .kc {
  color: #cb4b16;
}

/* Keyword.Constant */
.highlight .kd {
  color: #268bd2;
}

/* Keyword.Declaration */
.highlight .kn {
  color: #859900;
}

/* Keyword.Namespace */
.highlight .kp {
  color: #859900;
}

/* Keyword.Pseudo */
.highlight .kr {
  color: #268bd2;
}

/* Keyword.Reserved */
.highlight .kt {
  color: #dc322f;
}

/* Keyword.Type */
.highlight .ld {
  color: #93a1a1;
}

/* Literal.Date */
.highlight .m {
  color: #2aa198;
}

/* Literal.Number */
.highlight .s {
  color: #2aa198;
}

/* Literal.String */
.highlight .na {
  color: #93a1a1;
}

/* Name.Attribute */
.highlight .nb {
  color: #b58900;
}

/* Name.Builtin */
.highlight .nc {
  color: #268bd2;
}

/* Name.Class */
.highlight .no {
  color: #cb4b16;
}

/* Name.Constant */
.highlight .nd {
  color: #268bd2;
}

/* Name.Decorator */
.highlight .ni {
  color: #cb4b16;
}

/* Name.Entity */
.highlight .ne {
  color: #cb4b16;
}

/* Name.Exception */
.highlight .nf {
  color: #268bd2;
}

/* Name.Function */
.highlight .nl {
  color: #93a1a1;
}

/* Name.Label */
.highlight .nn {
  color: #93a1a1;
}

/* Name.Namespace */
.highlight .nx {
  color: #555555;
}

/* Name.Other */
.highlight .py {
  color: #93a1a1;
}

/* Name.Property */
.highlight .nt {
  color: #268bd2;
}

/* Name.Tag */
.highlight .nv {
  color: #268bd2;
}

/* Name.Variable */
.highlight .ow {
  color: #859900;
}

/* Operator.Word */
.highlight .w {
  color: #93a1a1;
}

/* Text.Whitespace */
.highlight .mf {
  color: #2aa198;
}

/* Literal.Number.Float */
.highlight .mh {
  color: #2aa198;
}

/* Literal.Number.Hex */
.highlight .mi {
  color: #2aa198;
}

/* Literal.Number.Integer */
.highlight .mo {
  color: #2aa198;
}

/* Literal.Number.Oct */
.highlight .sb {
  color: #586e75;
}

/* Literal.String.Backtick */
.highlight .sc {
  color: #2aa198;
}

/* Literal.String.Char */
.highlight .sd {
  color: #93a1a1;
}

/* Literal.String.Doc */
.highlight .s2 {
  color: #2aa198;
}

/* Literal.String.Double */
.highlight .se {
  color: #cb4b16;
}

/* Literal.String.Escape */
.highlight .sh {
  color: #93a1a1;
}

/* Literal.String.Heredoc */
.highlight .si {
  color: #2aa198;
}

/* Literal.String.Interpol */
.highlight .sx {
  color: #2aa198;
}

/* Literal.String.Other */
.highlight .sr {
  color: #dc322f;
}

/* Literal.String.Regex */
.highlight .s1 {
  color: #2aa198;
}

/* Literal.String.Single */
.highlight .ss {
  color: #2aa198;
}

/* Literal.String.Symbol */
.highlight .bp {
  color: #268bd2;
}

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #268bd2;
}

/* Name.Variable.Class */
.highlight .vg {
  color: #268bd2;
}

/* Name.Variable.Global */
.highlight .vi {
  color: #268bd2;
}

/* Name.Variable.Instance */
.highlight .il {
  color: #2aa198;
}

/* Literal.Number.Integer.Long */
*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "SF UI Text", "Helvetica Neue", "Helvetica", sans-serif;
  color: #666666;
  font-weight: 400;
  font-size: 2.4rem;
  background: #ffffff;
  border-top: 10px solid #5694f1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  font-size: 7.2rem;
  font-weight: 800;
  color: #5694f1;
  font-family: "SF UI Text", "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1;
  margin-bottom: 1em;
  text-align: center;
  letter-spacing: -0.005em;
}

p {
  font-size: 2.5rem;
  max-width: 80%;
  margin: 0 auto 2em;
  line-height: 1.6;
}
p:last-child {
  margin-bottom: 0;
}

.lead-in {
  color: #ffffff;
  font-size: 3.2rem;
  line-height: 1.5;
  background: #5694f1;
  border-radius: 4px;
  padding: 3em;
  line-height: 1.8;
  margin-bottom: 3em;
  max-width: 1000px;
  width: 100%;
  text-align: center;
  font-family: "SF UI Text", "Helvetica Neue", "Helvetica", sans-serif;
}

a {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
  -o-transition-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
  -moz-transition-duration: 350ms;
  -o-transition-duration: 350ms;
  -webkit-transition-duration: 350ms;
  transition-duration: 350ms;
  color: #5694f1;
  text-decoration: none;
  border-bottom: 1px solid;
}
a:hover {
  color: #1c60c5;
}
a.bordered {
  padding-bottom: 5px;
  border-bottom: 2px solid;
}
a.bordered:hover {
  padding-bottom: 10px;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 35%;
  }

  p {
    max-width: 100%;
  }
  p.lead-in {
    padding: 2em;
  }

  .hidden-md {
    display: none;
  }
}
.line-break--desktop {
  display: none;
}

@media screen and (min-width: 800px) {
  .line-break--desktop {
    display: block;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes wobble {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes wobble {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes wobble {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.main {
  background: #ffffff;
}
.main .greeter-section, .main .article {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -moz-animation-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
  -webkit-animation-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-fill-mode: both;
}
.main.is-exiting .greeter-section, .main.is-exiting .article {
  -moz-animation-direction: alternate-reverse;
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
}
.main.is-exiting .icon-hand {
  -moz-animation-name: none;
  -webkit-animation-name: none;
  animation-name: none;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.portfolio-header {
  text-align: center;
  padding: 4em 0 0;
}
.portfolio-header a {
  border: 0;
}

.greeter-section {
  padding: 4em 0;
  width: 100%;
  margin: 0 auto;
  color: #5694f1;
  position: relative;
  text-align: center;
}
.greeter-section p {
  text-align: center;
  font-size: 3.2rem;
}
.greeter-section.introduction {
  padding-top: 0;
}
.greeter-section.portfolio {
  color: #ffffff;
  background: #5694f1;
}
.greeter-section.portfolio h2 {
  color: #ffffff;
}
.greeter-section.portfolio .portfolio-gallery__item {
  background: white;
  border-radius: 4px;
  font-size: 1rem;
  padding: 7em 1em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.greeter-section.contact {
  text-align: center;
  font-size: 2rem;
  border-top: 1px solid #eee;
  width: 100%;
}
.greeter-section.contact h1 {
  margin-bottom: 0.25em;
}
.greeter-section .greeter-section__cta {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 350ms;
  -o-transition-duration: 350ms;
  -webkit-transition-duration: 350ms;
  transition-duration: 350ms;
  -moz-transition-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
  -o-transition-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
  border: 1px solid #5694f1;
  background: #5694f1;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
  height: 3em;
  line-height: 3em;
  min-width: 15em;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0 15px;
}
.greeter-section .greeter-section__cta.disabled {
  border: 1px dashed #cccccc;
  background: white;
  color: #cccccc;
}
.greeter-section .greeter-section__cta:not(.disabled):hover {
  -moz-transform: translatey(-2px);
  -ms-transform: translatey(-2px);
  -webkit-transform: translatey(-2px);
  transform: translatey(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.greeter-section .greeter-section__cta:not(.disabled):focus {
  outline: 0;
}
.greeter-section .greeter-section__cta:not(.disabled):active {
  -moz-transform: translatey(2px);
  -ms-transform: translatey(2px);
  -webkit-transform: translatey(2px);
  transform: translatey(2px);
}

@media screen and (max-width: 800px) {
  .greeter-section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .greeter-section.portfolio .portfolio-gallery__item {
    padding: 5em 3em;
  }
}
.article {
  padding: 0 0 2em;
  background: #ffffff;
}
.article h1, .article h2, .article h3, .article h4, .article p, .article ol, .article ul {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 3.75em;
}
.article h1 {
  text-align: center;
  margin-bottom: 0.25em;
  line-height: 1.2;
  font-weight: 700;
}
.article h2 {
  margin-bottom: 1em;
}
.article h3 {
  font-size: 3.2rem;
  color: #666666;
  font-weight: 700;
  margin-bottom: 1em;
  margin-top: 3em;
}
.article h4 {
  font-weight: 700;
}
.article p:not(.article__lead-in) {
  font-family: "Chaparral-pro", "Helvetica", serif;
  letter-spacing: -0.005em;
}
.article .article__subheader {
  text-align: center;
  color: #cccccc;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.85rem;
  margin-bottom: 4em;
}
.article .article__subheader span {
  font-size: 14px;
  letter-spacing: 0;
  text-transform: lowercase;
  font-style: italic;
  position: relative;
  top: -3px;
}
.article .article__lead-in {
  margin: 0 auto -60px;
  max-width: 1000px;
  width: 100%;
  color: #ffffff;
  font-size: 3.2rem;
  line-height: 1.5;
  background: #5694f1;
  border-radius: 4px;
  padding: 3em 2.9em;
  max-width: 1000px;
  width: 100%;
  text-align: center;
  font-family: "SF UI Text", "Helvetica Neue", "Helvetica", sans-serif;
}

.article-navigation {
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-duration: 550ms;
  -o-transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  transition-duration: 550ms;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  height: 85px;
  line-height: 85px;
  left: 0;
  margin: 0;
  margin-bottom: 3em;
  padding: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 111;
}
.article-navigation a {
  border: 0;
  color: #5694f1;
}
.article-navigation a:hover {
  color: #2776ed;
}
.article-navigation > ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: translatey(20px);
  -ms-transform: translatey(20px);
  -webkit-transform: translatey(20px);
  transform: translatey(20px);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #f9f9f9;
  border-radius: 50px;
  margin: 0 auto;
  max-width: 800px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.article-navigation > ul .article-navigation__anchor {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  line-height: 85px;
  margin-right: 30px;
  opacity: 1;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  z-index: 111;
}
.article-navigation .article-navigation__manipulator {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  left: 50%;
  position: absolute;
  width: 85px;
}
.article-navigation .article-navigation__manipulator a {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  position: absolute;
  left: 0;
  width: 85px;
}
.article-navigation .article-navigation__manipulator a.condense, .article-navigation .article-navigation__manipulator a.top {
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 0;
  pointer-events: none;
  color: #ffffff;
}
.article-navigation.stuck {
  position: fixed;
}
.article-navigation.stuck .article-navigation__manipulator {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.article-navigation.stuck > ul {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: rgba(255, 255, 255, 0.9);
  max-width: 100%;
  width: 85px;
  height: 85px;
}
.article-navigation.stuck > ul .article-navigation__anchor {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}
.article-navigation.stuck.expanded ul {
  width: 100%;
  max-width: 800px;
}
.article-navigation.stuck.expanded ul .article-navigation__anchor {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  pointer-events: all;
}
.article-navigation.stuck.expanded ul .article-navigation__manipulator {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  left: 0;
  width: 100%;
  height: 85px;
}
.article-navigation.stuck.expanded ul .article-navigation__manipulator .expand {
  display: none;
}
.article-navigation.stuck.expanded ul .article-navigation__manipulator .top,
.article-navigation.stuck.expanded ul .article-navigation__manipulator .condense {
  opacity: 1;
  pointer-events: all;
  color: #5694f1;
}
.article-navigation.stuck.expanded ul .article-navigation__manipulator .top:hover,
.article-navigation.stuck.expanded ul .article-navigation__manipulator .condense:hover {
  color: #2776ed;
}
.article-navigation.stuck.expanded ul .article-navigation__manipulator .top {
  left: auto;
  right: 0;
}

@media screen and (max-width: 800px) {
  .article-navigation {
    height: 60px;
    line-height: 60px;
  }
  .article-navigation > ul .article-navigation__anchor {
    line-height: 60px;
  }
}
.article-section__divider {
  width: 100%;
  margin-bottom: -4px;
  fill: #ffffff;
  background: #5694f1;
}
.article-section__divider.flipped {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.article-section__divider.white {
  fill: #ffffff;
}

.article-section {
  padding: 0;
}
.article-section .article-section__introduction {
  background: #5694f1;
  padding: 5em 0 3em;
  text-align: center;
}
.article-section .article-section__introduction h3 {
  color: #5694f1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.3rem;
  text-align: center;
  background: #ffffff;
  border-radius: 50px;
  padding: 15px 30px;
  display: inline-block;
  width: auto;
}
.article-section .article-section__introduction h2 {
  color: #ffffff;
  max-width: 1000px;
}
.article-section .article-section__introduction h2 span {
  color: #cbdefc;
  text-decoration: line-through;
}
.article-section .article-section__introduction p {
  color: #cbdefc;
  text-align: left;
}
.article-section .article-section__introduction a {
  color: #ffffff;
}
.article-section .article-section__tags {
  margin-bottom: 1.5em;
}
.article-section .article-section__tags li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  border: 1px solid #eee;
  font-size: 2rem;
  padding: 0 10px;
  color: #b3b3b3;
  border-radius: 4px;
  margin-bottom: 5px;
}

.article-figure {
  padding: 0 0 3em 0;
  position: relative;
}
.article-figure p {
  margin-bottom: 1.5em;
}
.article-figure h4 {
  text-align: center;
  color: #5694f1;
}
.article-figure.first .article-figure__browser {
  margin-bottom: -175px;
  top: -175px;
}
.article-figure.first .article-figure__phone {
  bottom: 190px;
}
.article-figure.alternative {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-width: 1px 0;
  padding: 3em 0 9em;
  text-align: center;
}
.article-figure.alternative header {
  background: #f9f9f9;
  padding: 1em;
  position: relative;
  z-index: 11;
  margin-bottom: 2em;
}
.article-figure.alternative header h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.article-figure.alternative:after {
  content: "";
  height: 100%;
  position: absolute;
  width: 1px;
  background: #ddd;
  left: 50%;
  top: 0;
  z-index: 1;
}
.article-figure.alternative .article-figure__image {
  background: #f9f9f9;
  padding: 1em;
  margin-bottom: 3em;
  position: relative;
  z-index: 11;
}
.article-figure.alternative .article-figure__image:last-child {
  margin-bottom: 0;
}
.article-figure .article-figure__container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.article-figure .article-figure__caption {
  margin-top: 2em;
}
.article-figure .article-figure__phone {
  background: url(../img/phone.svg) no-repeat;
  max-width: 329px;
  width: 100%;
  height: 652px;
  padding: 60px 15px;
  position: absolute;
  left: -75px;
  z-index: 9;
  bottom: 30px;
  z-index: 11;
}
.article-figure .article-figure__phone img {
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.article-figure .article-figure__browser {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 11;
}
.article-figure .article-figure__browser .bar {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 10px;
  line-height: 0;
  background: #ffffff;
  position: relative;
}
.article-figure .article-figure__browser .bar .actions {
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
  top: 50%;
  left: 15px;
  position: absolute;
}
.article-figure .article-figure__browser .bar .actions span {
  height: 10px;
  width: 10px;
  display: inline-block;
  background: #ddd;
  border-radius: 50%;
  margin-right: 5px;
}
.article-figure .article-figure__browser .bar .actions span:first-child {
  background: #36a9ae;
}
.article-figure .article-figure__browser .bar .actions span:nth-child(2) {
  background: #fdce71;
}
.article-figure .article-figure__browser .bar .actions span:last-child {
  background: #c04355;
}
.article-figure .article-figure__browser .bar .url {
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  font-size: 13px;
  line-height: 25px;
  top: 0;
  background: #f5f5f5;
  display: inline-block;
  border-radius: 2px;
  margin: 0 auto;
  border: 1px solid #eee;
  padding: 0 15px;
  color: #999;
  left: 50%;
  position: relative;
}
.article-figure .article-figure__browser.has-phone {
  right: -75px;
}
.article-figure .article-figure__browser.has-video:after, .article-figure .article-figure__browser.has-video:before {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
  -o-transition-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
  position: absolute;
}
.article-figure .article-figure__browser.has-video:after {
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  content: "Mouse-over to play video.";
  color: #5694f1;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 30px;
  border-radius: 50px;
  top: 50%;
  left: 50%;
}
.article-figure .article-figure__browser.has-video:before {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2OTRmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzExNWRkMCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, #5694f1 0%, #115dd0 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #5694f1 0%, #115dd0 100%);
  background-image: radial-gradient(ellipse cover at center, #5694f1 0%, #115dd0 100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  content: "";
  height: 100%;
  width: 100%;
  padding: 200px;
  text-align: center;
  background-color: #5694f1;
  top: 0;
  left: 0;
  border-radius: 4px;
}
.article-figure .article-figure__browser.has-video:hover {
  cursor: pointer;
}
.article-figure .article-figure__browser.has-video:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translate(-50%, 50%) scale(0);
  -ms-transform: translate(-50%, 50%) scale(0);
  -webkit-transform: translate(-50%, 50%) scale(0);
  transform: translate(-50%, 50%) scale(0);
}
.article-figure .article-figure__browser.has-video:hover:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.article-figure .article-figure__image {
  width: 100%;
  margin-bottom: -4px;
}
.article-figure .article-figure__image.detail {
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 11;
}
.article-figure .article-figure__image.detail.detail--welcome-greeter {
  width: 212px;
  right: -100px;
  margin-top: -50px;
  position: absolute;
}

@media screen and (max-width: 800px) {
  .article-figure {
    padding-left: 15px;
    padding-right: 15px;
  }
}
footer {
  border-top: 1px solid #eee;
  background: #f9f9f9;
  padding: 1em 0;
  text-align: center;
}
footer ul {
  padding: 1em;
  font-size: 3rem;
}
footer ul li {
  display: inline-block;
  margin-right: 1em;
}
footer ul li a {
  color: #cccccc;
  border: 0;
}
footer ul li a:hover {
  color: #5694f1;
}

.icon-hand {
  background-image: url("../img/hand.png");
  background-size: cover;
  display: inline-block;
  height: 86px;
  width: 80px;
  margin-bottom: 2em;
  -moz-animation-name: wobble;
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
  -webkit-animation-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1.3, 0.32, 1);
}

.icon-email {
  background-image: url("../img/email.png");
  background-size: cover;
  display: inline-block;
  height: 126px;
  width: 85px;
  margin-bottom: 2em;
}

.icon-browser {
  background-image: url("../img/browser.png");
  background-size: cover;
  display: inline-block;
  height: 125px;
  width: 145px;
  margin-bottom: 2em;
}

.icon-upward-arrow {
  background-image: url("../img/upward-arrow.svg");
  background-size: cover;
  display: inline-block;
  height: 128px;
  width: 35px;
}

@media screen and (max-width: 800px) {
  .icon-hand {
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  .icon-email {
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  .icon-browser {
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
.portfolio-gallery {
  width: 100%;
  white-space: nowrap;
  vertical-align: top;
  overflow-x: scroll;
  overflow-y: hidden;
}
.portfolio-gallery .portfolio-gallery__item {
  display: inline-block;
  white-space: normal;
  color: #5694f1;
  vertical-align: top;
}
.portfolio-gallery .portfolio-gallery__title {
  font-size: 4.2rem;
  font-weight: 700;
  width: 100%;
  max-width: 760px;
  margin: 0 auto 0.5em;
}
.portfolio-gallery .portfolio-gallery__description {
  font-size: 2.4rem;
  width: 100%;
  max-width: 760px;
  margin: 0 auto 1em;
}
