/* line 17, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*=========================================
Base
=========================================== */
/* line 8, ../_sass/screen.scss */
html,
body {
  height: 100%;
}

/* line 11, ../_sass/screen.scss */
body {
  font: 16px/1 "Adelle",Helvetica,Arial,sans-serif;
  color: #777;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 17, ../_sass/screen.scss */
header {
  height: 60px;
  border-bottom: 1px solid #f5f5f5;
  padding: 40px 0;
  max-width: 500px;
  margin: 40px auto 0 auto;
}
/* line 23, ../_sass/screen.scss */
header .social {
  float: right;
}
/* line 25, ../_sass/screen.scss */
header .social li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 31, ../_sass/screen.scss */
#wrapper,
#comments {
  padding: 40px;
  max-width: 500px;
  margin: 0 auto;
}

/* line 36, ../_sass/screen.scss */
footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 40px;
  max-width: 500px;
  margin: 0 auto 0 auto;
}

/* line 43, ../_sass/screen.scss */
.social {
  padding-top: 20px;
}
/* line 45, ../_sass/screen.scss */
.social a {
  color: #CECECE;
  font-size: 21px;
  margin-right: 10px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 51, ../_sass/screen.scss */
.social a:hover {
  color: #999;
}

/* line 57, ../_sass/screen.scss */
ul#posts li {
  line-height: 1.8;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}
/* line 61, ../_sass/screen.scss */
ul#posts li span {
  float: right;
  color: #CCC;
}

/* line 67, ../_sass/screen.scss */
#comments {
  display: none;
}

/*=========================================
  Typography
=========================================== */
/* line 74, ../_sass/screen.scss */
a {
  text-decoration: none;
  color: #5694f1;
  font-weight: 400;
}

/* line 79, ../_sass/screen.scss */
h1 {
  font-weight: 400;
  font-size: 20px;
  color: #222;
  margin-bottom: 30px;
}
/* line 84, ../_sass/screen.scss */
h1.title {
  margin-bottom: 0;
  background: url("../images/a.png");
  height: 100px;
  width: 100px;
  background-size: cover;
  text-indent: -9999px;
}

/* line 93, ../_sass/screen.scss */
h2 {
  font-size: 20px;
  font-weight: 300;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* line 100, ../_sass/screen.scss */
h3 {
  font-weight: bold;
  margin-top: 30px;
  font-size: 16px;
  margin-bottom: 10px;
}
/* line 105, ../_sass/screen.scss */
h3 span {
  font-weight: 400;
}

/* line 109, ../_sass/screen.scss */
strong {
  font-weight: 600;
}

/* line 112, ../_sass/screen.scss */
p {
  line-height: 1.8;
  margin-bottom: 30px;
  font-size: 16px;
}

/*=========================================
  Logo
=========================================== */
/* line 120, ../_sass/screen.scss */
.logo {
  color: #999;
  font-weight: 600;
  font-size: 30px;
}
/* line 124, ../_sass/screen.scss */
.logo .sq {
  height: 60px;
  width: 60px;
  border: 1px solid #EEE;
  position: absolute;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}
/* line 132, ../_sass/screen.scss */
.logo .sq-letter {
  line-height: 60px;
  text-align: center;
  border: none;
}
/* line 137, ../_sass/screen.scss */
.logo .sq-one {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 140, ../_sass/screen.scss */
.logo .sq-two {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
/* line 143, ../_sass/screen.scss */
.logo .sq-three {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
/* line 146, ../_sass/screen.scss */
.logo:hover {
  cursor: pointer;
}
/* line 148, ../_sass/screen.scss */
.logo:hover .sq-one {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}
/* line 151, ../_sass/screen.scss */
.logo:hover .sq-two {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 154, ../_sass/screen.scss */
.logo:hover .sq-three {
  -webkit-transform: rotate(75deg);
  -moz-transform: rotate(75deg);
  -ms-transform: rotate(75deg);
  -o-transform: rotate(75deg);
  transform: rotate(75deg);
}

/*=========================================
  Media Queries
=========================================== */
@media screen and (max-width: 540px) {
  /* line 163, ../_sass/screen.scss */
  body {
    padding: 20px;
  }

  /* line 166, ../_sass/screen.scss */
  header, footer, #wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 440px) {
  /* line 170, ../_sass/screen.scss */
  header, footer, #wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
