/* line 17, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../_sass/syntax.sass */
code {
  font-family: "Bitstream Vera Sans Mono", "Courier", monospace;
}

/* line 4, ../_sass/syntax.sass */
.highlight .c {
  color: #586e75;
}

/* Comment */
/* line 8, ../_sass/syntax.sass */
.highlight .err {
  color: #93a1a1;
}

/* Error */
/* line 12, ../_sass/syntax.sass */
.highlight .g {
  color: #93a1a1;
}

/* Generic */
/* line 16, ../_sass/syntax.sass */
.highlight .k {
  color: #859900;
}

/* Keyword */
/* line 20, ../_sass/syntax.sass */
.highlight .l {
  color: #93a1a1;
}

/* Literal */
/* line 24, ../_sass/syntax.sass */
.highlight .n {
  color: #93a1a1;
}

/* Name */
/* line 28, ../_sass/syntax.sass */
.highlight .o {
  color: #859900;
}

/* Operator */
/* line 32, ../_sass/syntax.sass */
.highlight .x {
  color: #cb4b16;
}

/* Other */
/* line 36, ../_sass/syntax.sass */
.highlight .p {
  color: #93a1a1;
}

/* Punctuation */
/* line 40, ../_sass/syntax.sass */
.highlight .cm {
  color: #586e75;
}

/* Comment.Multiline */
/* line 44, ../_sass/syntax.sass */
.highlight .cp {
  color: #859900;
}

/* Comment.Preproc */
/* line 48, ../_sass/syntax.sass */
.highlight .c1 {
  color: #586e75;
}

/* Comment.Single */
/* line 52, ../_sass/syntax.sass */
.highlight .cs {
  color: #859900;
}

/* Comment.Special */
/* line 56, ../_sass/syntax.sass */
.highlight .gd {
  color: #2aa198;
}

/* Generic.Deleted */
/* line 60, ../_sass/syntax.sass */
.highlight .ge {
  color: #93a1a1;
  font-style: italic;
}

/* Generic.Emph */
/* line 65, ../_sass/syntax.sass */
.highlight .gr {
  color: #dc322f;
}

/* Generic.Error */
/* line 69, ../_sass/syntax.sass */
.highlight .gh {
  color: #cb4b16;
}

/* Generic.Heading */
/* line 73, ../_sass/syntax.sass */
.highlight .gi {
  color: #859900;
}

/* Generic.Inserted */
/* line 77, ../_sass/syntax.sass */
.highlight .go {
  color: #93a1a1;
}

/* Generic.Output */
/* line 81, ../_sass/syntax.sass */
.highlight .gp {
  color: #93a1a1;
}

/* Generic.Prompt */
/* line 85, ../_sass/syntax.sass */
.highlight .gs {
  color: #93a1a1;
  font-weight: bold;
}

/* Generic.Strong */
/* line 90, ../_sass/syntax.sass */
.highlight .gu {
  color: #cb4b16;
}

/* Generic.Subheading */
/* line 94, ../_sass/syntax.sass */
.highlight .gt {
  color: #93a1a1;
}

/* Generic.Traceback */
/* line 98, ../_sass/syntax.sass */
.highlight .kc {
  color: #cb4b16;
}

/* Keyword.Constant */
/* line 102, ../_sass/syntax.sass */
.highlight .kd {
  color: #268bd2;
}

/* Keyword.Declaration */
/* line 106, ../_sass/syntax.sass */
.highlight .kn {
  color: #859900;
}

/* Keyword.Namespace */
/* line 110, ../_sass/syntax.sass */
.highlight .kp {
  color: #859900;
}

/* Keyword.Pseudo */
/* line 114, ../_sass/syntax.sass */
.highlight .kr {
  color: #268bd2;
}

/* Keyword.Reserved */
/* line 118, ../_sass/syntax.sass */
.highlight .kt {
  color: #dc322f;
}

/* Keyword.Type */
/* line 122, ../_sass/syntax.sass */
.highlight .ld {
  color: #93a1a1;
}

/* Literal.Date */
/* line 126, ../_sass/syntax.sass */
.highlight .m {
  color: #2aa198;
}

/* Literal.Number */
/* line 130, ../_sass/syntax.sass */
.highlight .s {
  color: #2aa198;
}

/* Literal.String */
/* line 134, ../_sass/syntax.sass */
.highlight .na {
  color: #93a1a1;
}

/* Name.Attribute */
/* line 138, ../_sass/syntax.sass */
.highlight .nb {
  color: #b58900;
}

/* Name.Builtin */
/* line 142, ../_sass/syntax.sass */
.highlight .nc {
  color: #268bd2;
}

/* Name.Class */
/* line 146, ../_sass/syntax.sass */
.highlight .no {
  color: #cb4b16;
}

/* Name.Constant */
/* line 150, ../_sass/syntax.sass */
.highlight .nd {
  color: #268bd2;
}

/* Name.Decorator */
/* line 154, ../_sass/syntax.sass */
.highlight .ni {
  color: #cb4b16;
}

/* Name.Entity */
/* line 158, ../_sass/syntax.sass */
.highlight .ne {
  color: #cb4b16;
}

/* Name.Exception */
/* line 162, ../_sass/syntax.sass */
.highlight .nf {
  color: #268bd2;
}

/* Name.Function */
/* line 166, ../_sass/syntax.sass */
.highlight .nl {
  color: #93a1a1;
}

/* Name.Label */
/* line 170, ../_sass/syntax.sass */
.highlight .nn {
  color: #93a1a1;
}

/* Name.Namespace */
/* line 174, ../_sass/syntax.sass */
.highlight .nx {
  color: #555555;
}

/* Name.Other */
/* line 178, ../_sass/syntax.sass */
.highlight .py {
  color: #93a1a1;
}

/* Name.Property */
/* line 182, ../_sass/syntax.sass */
.highlight .nt {
  color: #268bd2;
}

/* Name.Tag */
/* line 186, ../_sass/syntax.sass */
.highlight .nv {
  color: #268bd2;
}

/* Name.Variable */
/* line 190, ../_sass/syntax.sass */
.highlight .ow {
  color: #859900;
}

/* Operator.Word */
/* line 194, ../_sass/syntax.sass */
.highlight .w {
  color: #93a1a1;
}

/* Text.Whitespace */
/* line 198, ../_sass/syntax.sass */
.highlight .mf {
  color: #2aa198;
}

/* Literal.Number.Float */
/* line 202, ../_sass/syntax.sass */
.highlight .mh {
  color: #2aa198;
}

/* Literal.Number.Hex */
/* line 206, ../_sass/syntax.sass */
.highlight .mi {
  color: #2aa198;
}

/* Literal.Number.Integer */
/* line 210, ../_sass/syntax.sass */
.highlight .mo {
  color: #2aa198;
}

/* Literal.Number.Oct */
/* line 214, ../_sass/syntax.sass */
.highlight .sb {
  color: #586e75;
}

/* Literal.String.Backtick */
/* line 218, ../_sass/syntax.sass */
.highlight .sc {
  color: #2aa198;
}

/* Literal.String.Char */
/* line 222, ../_sass/syntax.sass */
.highlight .sd {
  color: #93a1a1;
}

/* Literal.String.Doc */
/* line 226, ../_sass/syntax.sass */
.highlight .s2 {
  color: #2aa198;
}

/* Literal.String.Double */
/* line 230, ../_sass/syntax.sass */
.highlight .se {
  color: #cb4b16;
}

/* Literal.String.Escape */
/* line 234, ../_sass/syntax.sass */
.highlight .sh {
  color: #93a1a1;
}

/* Literal.String.Heredoc */
/* line 238, ../_sass/syntax.sass */
.highlight .si {
  color: #2aa198;
}

/* Literal.String.Interpol */
/* line 242, ../_sass/syntax.sass */
.highlight .sx {
  color: #2aa198;
}

/* Literal.String.Other */
/* line 246, ../_sass/syntax.sass */
.highlight .sr {
  color: #dc322f;
}

/* Literal.String.Regex */
/* line 250, ../_sass/syntax.sass */
.highlight .s1 {
  color: #2aa198;
}

/* Literal.String.Single */
/* line 254, ../_sass/syntax.sass */
.highlight .ss {
  color: #2aa198;
}

/* Literal.String.Symbol */
/* line 258, ../_sass/syntax.sass */
.highlight .bp {
  color: #268bd2;
}

/* Name.Builtin.Pseudo */
/* line 262, ../_sass/syntax.sass */
.highlight .vc {
  color: #268bd2;
}

/* Name.Variable.Class */
/* line 266, ../_sass/syntax.sass */
.highlight .vg {
  color: #268bd2;
}

/* Name.Variable.Global */
/* line 270, ../_sass/syntax.sass */
.highlight .vi {
  color: #268bd2;
}

/* Name.Variable.Instance */
/* line 274, ../_sass/syntax.sass */
.highlight .il {
  color: #2aa198;
}

/* Literal.Number.Integer.Long */
/* line 15, ../_sass/screen.sass */
body {
  font: 16px/1 "Adelle", Helvetica, Arial, sans-serif;
  color: #777777;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* line 25, ../_sass/screen.sass */
input {
  border: 1px solid #cccccc;
  height: 50px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font: 16px "Adelle", Helvetica, Arial, sans-serif;
  line-height: 50px;
  width: 100%;
}

/* line 33, ../_sass/screen.sass */
input[type="file"] {
  color: transparent;
  position: relative;
  -webkit-user-select: none;
}
/* line 37, ../_sass/screen.sass */
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
/* line 39, ../_sass/screen.sass */
input[type="file"]:before {
  color: #999999;
  content: "Upload Image";
  position: absolute;
  left: 20px;
}
/* line 44, ../_sass/screen.sass */
input[type="file"]:after {
  color: #999999;
  content: "\f030";
  font-family: "FontAwesome";
  position: absolute;
  right: 20px;
}
/* line 50, ../_sass/screen.sass */
input[type="file"]:hover {
  cursor: pointer;
  border: 1px solid #999999;
}
/* line 53, ../_sass/screen.sass */
input[type="file"]:hover:before {
  color: #999999;
}
/* line 55, ../_sass/screen.sass */
input[type="file"]:focus {
  outline: 0;
}

/* line 58, ../_sass/screen.sass */
header {
  height: 60px;
  border-bottom: 1px solid whitesmoke;
  padding: 40px 0;
  max-width: 600px;
  margin: 40px auto 0 auto;
}
/* line 64, ../_sass/screen.sass */
header .social {
  float: right;
}
/* line 66, ../_sass/screen.sass */
header .social li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 69, ../_sass/screen.sass */
.highlight {
  background: #f9f9f9;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 30px;
  overflow: scroll;
}

/* line 76, ../_sass/screen.sass */
#wrapper {
  padding: 40px;
  max-width: 600px;
  margin: 0 auto;
  background: white;
}

/* line 82, ../_sass/screen.sass */
#comments {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 80px;
}

/* line 87, ../_sass/screen.sass */
footer {
  border-top: 1px solid #eeeeee;
  margin-top: 40px;
  max-width: 600px;
  margin: 0 auto;
  padding: 2em 0;
}
/* line 93, ../_sass/screen.sass */
footer .colophon {
  color: #cccccc;
}
/* line 95, ../_sass/screen.sass */
footer .colophon a {
  color: #999999;
}
/* line 97, ../_sass/screen.sass */
footer .colophon a:hover {
  color: #666666;
}
/* line 99, ../_sass/screen.sass */
footer .colophon p {
  font-size: 14px;
  margin-bottom: 0;
}

/* line 104, ../_sass/screen.sass */
.authorship {
  display: none;
}

/* line 107, ../_sass/screen.sass */
.social {
  padding-top: 20px;
}
/* line 109, ../_sass/screen.sass */
.social a {
  color: #cecece;
  font-size: 21px;
  margin-right: 10px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 115, ../_sass/screen.sass */
.social a:hover {
  color: #999999;
}

/* line 120, ../_sass/screen.sass */
.home .bio a {
  color: #999999;
  font-weight: bold;
  border-bottom: 1px solid;
}
/* line 124, ../_sass/screen.sass */
.home .bio a:hover {
  color: #666666;
}

/* line 127, ../_sass/screen.sass */
.text-right {
  text-align: right;
}

/* line 130, ../_sass/screen.sass */
img {
  width: 120%;
  max-width: 640px;
  margin-left: -20px;
}

/* line 136, ../_sass/screen.sass */
ul#posts li {
  line-height: 1.8;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}
/* line 140, ../_sass/screen.sass */
ul#posts li .post--title {
  width: 70%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('xml/ellipsis.xml#ellipsis');
}
/* line 144, ../_sass/screen.sass */
ul#posts li .post--date {
  text-align: right;
  float: right;
  color: #cccccc;
}

/* line 149, ../_sass/screen.sass */
.button {
  background: #5694f1;
  color: white;
  padding: 10px 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-weight: 600;
}

/* line 157, ../_sass/screen.sass */
a {
  text-decoration: none;
  color: #5694f1;
  font-weight: 400;
}
/* line 161, ../_sass/screen.sass */
a:hover {
  color: #4079d0;
}

/* line 164, ../_sass/screen.sass */
h1 {
  font-weight: 400;
  font-size: 20px;
  color: #222222;
  margin-bottom: 30px;
}
/* line 169, ../_sass/screen.sass */
h1.title {
  margin-bottom: 0;
  background: url("../img/a.png");
  height: 100px;
  width: 100px;
  background-size: cover;
  text-indent: -9999px;
}

/* line 177, ../_sass/screen.sass */
h2 {
  font-size: 20px;
  font-weight: 300;
  color: #aaaaaa;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* line 184, ../_sass/screen.sass */
h3 {
  font-weight: bold;
  margin-top: 30px;
  font-size: 16px;
  margin-bottom: 10px;
}
/* line 189, ../_sass/screen.sass */
h3 span {
  font-weight: 400;
}

/* line 192, ../_sass/screen.sass */
strong {
  font-weight: 600;
}

/* line 195, ../_sass/screen.sass */
p {
  line-height: 1.8;
  margin-bottom: 30px;
  font-size: 16px;
}

/* line 201, ../_sass/screen.sass */
.logo {
  color: #999999;
  font-weight: 600;
  font-size: 30px;
}
/* line 205, ../_sass/screen.sass */
.logo .sq {
  height: 60px;
  width: 60px;
  border: 1px solid #eeeeee;
  position: absolute;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}
/* line 212, ../_sass/screen.sass */
.logo .sq-letter {
  line-height: 60px;
  text-align: center;
  border: none;
}
/* line 216, ../_sass/screen.sass */
.logo .sq-one {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 218, ../_sass/screen.sass */
.logo .sq-two {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
/* line 220, ../_sass/screen.sass */
.logo .sq-three {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
/* line 222, ../_sass/screen.sass */
.logo:hover {
  cursor: pointer;
}
/* line 224, ../_sass/screen.sass */
.logo:hover .sq-one {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}
/* line 226, ../_sass/screen.sass */
.logo:hover .sq-two {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 228, ../_sass/screen.sass */
.logo:hover .sq-three {
  -webkit-transform: rotate(75deg);
  -moz-transform: rotate(75deg);
  -ms-transform: rotate(75deg);
  -o-transform: rotate(75deg);
  transform: rotate(75deg);
}

/* line 232, ../_sass/screen.sass */
.row {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 234, ../_sass/screen.sass */
.row .col-6 {
  display: inline;
  float: left;
  margin-right: 0;
  width: 300px;
}
/* line 147, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .row .col-6 {
  overflow-x: hidden;
}

@media screen and (max-width: 540px) {
  /* line 239, ../_sass/screen.sass */
  body {
    padding: 20px;
  }

  /* line 241, ../_sass/screen.sass */
  header, footer, #wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 244, ../_sass/screen.sass */
  footer {
    display: none;
  }
}
@media screen and (max-width: 440px) {
  /* line 250, ../_sass/screen.sass */
  header {
    padding-top: 0;
  }

  /* line 253, ../_sass/screen.sass */
  header, footer, #wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 256, ../_sass/screen.sass */
  img {
    width: 120%;
  }
}
