---
layout: home
title: Designer
---

<section class="greeter-section introduction">
  <div class="container">
    <h1>Hello, it's nice to <span class="line-break--desktop"></span> meet you.</h1>
    <p class="lead-in">My name is Alex but you can call me Al. <span class="line-break--desktop"></span> I’m a designer based in San Francisco dedicated to building useful technology for creative people.</p>
    <p>Recently, I lead design at Gumroad, a company designing a better commerce experience for the creative economy.</p>
    <a href="/about" class="greeter-section__cta">Read full bio</a>
  </div>
</section>

<section class="greeter-section portfolio">
  <div class="container">
    <h2>Selections from my <span class="line-break--desktop"></span> portfolio.</h2>
    <div class="portfolio-gallery">
      {% for post in site.posts %}
        {% if post.categories contains 'work' %}
          <div class="portfolio-gallery__item">
            <h3 class="portfolio-gallery__title">{{ post.title }}</h2>
            <p class="portfolio-gallery__description">{{ post.description }}</p>
            <a href="{{ post.url }}" class="greeter-section__cta">View case study</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
