//
// Vendor

@import "vendor/inuit/_generic.normalize";
@import "vendor/inuit/_generic.box-sizing";
@import "vendor/inuit/_settings.responsive";
@import "vendor/inuit/_tools.responsive";
@import "vendor/myer-reset";
@import "https://use.typekit.net/zvq0zou.css";

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #2299dd;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

//
// Utlities
//
@import "utilities/variables";
@import "utilities/utilities";

//
// Base
//
@import "base/base";
@import "base/typography";
@import "base/icons";

//
// Components
//
@import "components/greeting";
@import "components/social-media";
@import "components/instafeed";
@import "components/loading-signifier";
@import "components/navigation";
@import "base/page";
