<!--Footer-->
  <footer>
      <section class="contact">
      <section class="social">
        <p>
          <a href="https://github.com/yourusername"><i class="fa fa-github"></i></a>
          <a href="mailto: hey@hey.al"><i class="fa fa-envelope-o"></i></a>
          <a href="https://twitter.com/alhertz"><i class="fa fa-twitter"></i></a>
          <a href="https://instagram.com/alhertz"><i class="fa fa-instagram"></i></a>
          <a href="https://dribbble.com/alhertz"><i class="fa fa-dribbble"></i></a>
        </p>
      </section>
  </footer>