<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!--General Meta-->
    <title>Alex Hertz – {{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="San Francisco based designer dedicated to building useful technology for creative people"/>
    <link rel="canonical" href="http://hey.al" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

    <!--Facebook-->
    <meta property="og:title" content="Alex Hertz – Designer" />
    <meta property="og:description" content="San Francisco based designer dedicated to building useful technology for creative people." />
    <meta property="og:url" content="http://hey.al" />
    <meta property="og:site_name" content="Alex Hertz " />
    <meta property="og:image" content="http://hey.al/img/hey-there.jpg" />

    <!--Twitter-->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@alhertz"/>
    <meta name="twitter:domain" content="Alex Hertz"/>
    <meta name="twitter:creator" content="@alhertz"/>

    <!--CSS-->
    <link rel="stylesheet" href="/css/screen.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!--Webfonts-->
    <script src="https://use.typekit.net/rpn5qcd.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  {% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}

  <body class="{{layout}}">
