//Imports
@import compass/reset
@import compass/css3
@import syntax
@import compass/typography/text/ellipsis

// Variables
$content-width: 760px
$use-mozilla-ellipsis-binding: true
$primary-color: #5694f1
$header-height: 75px
$logo-height: $header-height - 15px

// Global border-box box-sizing
*, *:before, *:after
  +box-sizing(border-box)

#main
  position: relative
  +animation-name(fadeIn)
  +animation-duration(.3s)
  +animation-timing-function(ease-in-out)

#main.is-exiting
  +animation-name(fadeOut)
  +animation-duration(.3s)

+keyframes(fadeIn)
  0%
    +transform(translateX(-1000px))
  100%
    +transform(translateX(0))

+keyframes(fadeOut)
  0%
    +transform(translateX(0))
  100%
    +transform(translateX(1000px))

// Base
body
  background:
    color: #f9f9f9
    size: 100%
    repeat: no-repeat
  color: #777
  font:
    family: "Adelle", "Helvetica Neue", Arial, sans-serif
    size: 21px
    weight: 300
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

input
  +border-radius(2px)
  border: 1px solid #CCC
  font:
    family: "Adelle", "Helvetica Neue", Arial, sans-serif
    size: 16px
    weight: 300
  height: 50px
  line-height: 50px
  width: 100%

// Typography
h1, h2, h3, h4
  font:
    family: "Adelle", "Helvetica Neue", Helvetica, Arial, Sans-serif
    weight: 400

// Layout
.container
  max-width: $content-width
  margin: 2em auto
  width: 100%

a
  +transition-property(color)
  +transition-duration(.5s)
  text-decoration: none
  color: $primary-color
  &:hover
    color: darken($primary-color, 15%)

.text-right
  text-align: right

h1
  color: #222
  font:
    weight: 400
    size: 1.5em
  line-height: 1.5
  margin: 0 0 1em 0

h2
  color: #222
  font:
    weight: 400
    size: 1.25em
  margin: .5em 0 1em 0
  a
    color: #222
    &:hover
      color: #000

h3
  color: #222
  font:
    size: 1em
    weight: 600
  margin: .5em 0 1em 0
  span
    font-weight: 400

strong
  font-weight: 600

p, blockquote, ul
  line-height: 2.0
  margin-bottom: 1.5em
  &:last-child
    margin-bottom: 0

hr
  border: 0
  height: 0
  border-top: 1px solid #f5f5f5
  margin-bottom: 30px

// Pull dem quotes out!
blockquote
  +opacity(.6)
  +transition-property(opacity)
  +transition-duration(1s)
  border-left: 3px solid $primary-color
  font:
    weight: 400
    size: 1.2em
  margin-left: -1.65em
  padding-left: 1.65em
  p
    margin: 0

  &:hover
    +opacity(1)
    cursor: pointer


// File input duh
input[type="file"]
  color: transparent
  position: relative
  -webkit-user-select: none
  &::-webkit-file-upload-button
    visibility: hidden
  &:before
    color: #999
    content: 'Upload Image'
    left: 20px
    position: absolute
  &:after
    color: #999
    content: "\f030"
    font-family: 'FontAwesome'
    position: absolute
    right: 20px
  &:hover
    border: 1px solid #999
    cursor: pointer
    &:before
      color: #999
  &:focus
    outline: 0

// All the necessarys about yours truly
header
  +transition-property(opacity)
  +transition-duration(1s)
  height: $header-height
  width: $header-height
  margin: 0 auto
  &:hover
    +opacity(1)
  // I swear I know CSS – just look at this!
  .logo
    color: #999
    font-weight: 600
    font-size: 30px
    margin: 0 auto
    .sq
      +transition-property(all)
      +transition-duration(2s)
      border: 1px solid #EEE
      height: $logo-height
      position: absolute
      width: $logo-height
    .sq-letter
      border: none
      line-height: $logo-height
      text-align: center
    .sq-one
      +rotate(0deg)
    .sq-two
      +rotate(30deg)
    .sq-three
      +rotate(60deg)

// Where the magic happens
.main
  +box-shadow(0 1px 2px rgba(0, 0, 0, .1))
  +border-radius(4px)
  background: #FFF
  padding: 2em
  max-width: $content-width
  margin: 2em auto
  width: 100%
  overflow: hidden
  &:after
    content: ""
    display: table
    clear: both

// Lil code-blocks s'all
.highlight
  +border-radius(4px)
  background: #f9f9f9
  margin-bottom: 2em
  overflow: scroll
  padding: 1.5em

// Photos and the like ya heard?
figure
  figcaption
    margin-top: 1em
  img
    margin-left: -2em
    width: $content-width

// Sometimes I got lil quips/images
aside,
figure
  color: #CCC
  margin-bottom: 1.5em
  &:last-child
    margin-bottom: 0
  i
    margin-right: .5em

// Try and guess
.thoughts
  a
    display: block
  .thought
    +transition-property(color)
    +transition-duration(1s)
    line-height: 1.8
    margin-bottom: .5em
    &:after
      content: ""
      display: table
      clear: both
    .thought__title
      +ellipsis()
      float: left
      width: 70%
    .thought__date
      text-align: right
      color: #CCC
      float: right

footer
  text-align: center
  margin-bottom: 2em
  ul
    margin-bottom: 0
    li
      +inline-block
  a
    color: #CECECE
    font-size: 21px
    margin-right: 15px
    &:hover
      color: #999

@media screen and (max-width: 790px)
  body
    font-size: 18px
  figure
    img
      margin-left: 0
      width: 100%

@media screen and (max-width: 420px)
  header
    +opacity(1)
    height: 40px
    margin-top: 10px
    .logo
      font-size: 18px
      .sq
        height: 40px
        width: 40px
      .sq-letter
        line-height: 40px
    nav ul li
      line-height: 40px
  body
    font-size: 16px
  .main
    padding: 1em
    border-radius: 0
    margin-bottom: 1em
  .thoughts
    .thought
      .thought-title
        width: 65%
  footer
    margin-bottom: .5em
