//
// Component specific variables
//
$greeting-transition-delay-margin: 100ms;
$greeting-left-column-background-color:  #252A2E;

//
// Component specific styles
//
.greeting {
  margin: 0;
  height: 100vh;
  width: 100vw;

  // Left column
  &__left-column {
    background-color: $greeting-left-column-background-color;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 40%;

    // Modifier for when the background color of this div has been
    // customized via SMS
    &--has-custom-background-color {
      .greetting__left-column-image {
        mix-blend-mode: lighten;
      }
    }

    @include media-query(palm) {
      height: 50%;
      width: 100%;
    }
  }

  &__left-column-image-container {
    height: 100%;
    width: 100%;
    position: relative;

    &--is-finished-loading {
      .greeting__left-column-image {
        opacity: 1;
        transform: scale(1.05);
      }

      .greeting__left-column-loading-indicator {
        opacity: 0;
      }
    }
  }

  &__left-column-loading-indicator {
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    display: block;
    left: 50%;
    opacity: 1;
    position: absolute;
    top: 50%;
    height: 24px;
    width: 24px;
    content: 'sup';
    background-color: darken($greeting-left-column-background-color, 2%);
    border-radius: 50%;
  }

  &__left-column-image {
    background-image: image-url("me.jpg");
    background-position: center center;
    background-size: cover;
    display: block;
    height: 100%;
    opacity: 0;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 1000ms $variables-primary-easing, opacity 500ms $variables-secondary-timing-function;
    width: 100%;
  }

  // Right column
  &__right-column {
    float: left;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    width: 60%;
    position: relative;
    height: 100%;

    @include media-query(palm) {
      width: 100%;
      height: auto;
      padding-bottom: 6rem;
      padding-left: 5rem;
      padding-right: 5rem;
      padding-top: 6rem;

      .u-vertically-center {
        top: 0;
        transform: translateY(0);
      }
    }
  }

  &__primary-heading {
    font-size: 4rem;
  }

  // Increase the font size on the Greeter's first paragraph
  &__first-paragraph {
    font-size: 3rem;
    line-height: 4rem;
  }

  // For optimal characters per line, enforce a max-width on the greeter copy
  &__right-column-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;

    * {
      transform: translateY(50px);
      transition-duration: 1000ms, 1000ms;
      transition-property: opacity, transform;
      transition-timing-function: $variables-primary-easing;
      opacity: 0;

      @for $i from 1 to 6 {
        &:nth-child(#{$i}) {
          transition-delay: $i * $greeting-transition-delay-margin + 1;
        }
      }
    }

    &--is-visible * {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

//
// Component specific animations
//

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.25);
  }
  70% {
    box-shadow: 0 0 0 24px rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
  }
}
