//
// Component specific variables
//
$transition-delay-margin: 100ms;

//
// Component specific styles
//
.social-media-links {
  bottom: 0;
  font-size: 3.5rem;
  padding: 3rem 5rem;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 111;

  &--has-hovered-anchor {
    .social-media-links__anchor             { opacity: 0.5; }
    .social-media-links__anchor--is-focused { opacity: 1; }
  }

  &--is-visible {
    .social-media-links__item {
      transform: translateX(0) translateZ(0);
      opacity: 1;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 2rem;
    opacity: 0;
    transform: translateX(50px) translateZ(0);
    transition: transform 350ms $variables-primary-easing, opacity 350ms $variables-secondary-timing-function;

    @for $i from 1 to 5 {
      &:nth-child(#{$i}) {
        transition-delay: $i * $transition-delay-margin + 250ms;
      }
    }
  }

  &__anchor {
    border: 0;
    color: #ffffff;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    transition-duration: $variables-primary-transition-duration;
    transition-property: opacity;
    transition-timing-function: $variables-secondary-timing-function;

    &:active {
      top: 1px;
    }
  }
}

