
@keyframes reveal-text {
  0% {
    transform: translateY(132px) rotate(5deg);
    opacity: 0;
  }

  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

.page--is-plaid {
  // background-color: #0D263A;

  .article-header {
    height: calc(100vh - 4rem);
    position: relative;

    &__content {
      top: 50%;
      position: relative;
      transform: translateY(-50%);
    }

    &__line-1,
    &__line-2,
    &__line-3 {
      display: inline-block;
      height: 132px;
      overflow: hidden;
      margin: 0;
      float: left;
      width: 100%;

      .text {
        animation-duration: 350ms;
        display: inline-block;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-name: reveal-text;
        animation-timing-function: ease-in-out;
        transform: translateY(132px);
      }
    }

    &__line-1 .text {
      animation-delay: 250ms;
    }

    &__line-2 .text {
      animation-delay: 350ms;
    }

    &__line-3 .text {
      animation-delay: 400ms;
    }

    &__rule {
      background-color: rgba(255, 255, 255, 0.2);
      height: 1px;
      border: 0;
      outline: 0;
      margin-bottom: 4rem;
    }
  }

  .article-figure {
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 4rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      margin-bottom: -8px;
      width: 100%;
    }
  }

  .article-section {
    min-height: 100vh;
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);

    &__callout {
      padding-bottom: 120px;
      padding-top: 120px;
    }
  }
}