.grid-column {
  float: left;
  display: block;
  padding-left: 8px;
  padding-right: 8px;

  &--1  { width: 6.25% }
  &--2  { width: 6.25% * 2; }
  &--3  { width: 6.25% * 3; }
  &--4  { width: 6.25% * 4; }
  &--5  { width: 6.25% * 5; }
  &--6  { width: 6.25% * 6; }
  &--7  { width: 6.25% * 7; }
  &--8  { width: 6.25% * 8; }
  &--9  { width: 6.25% * 9; }
  &--10 { width: 6.25% * 10; }
  &--11 { width: 6.25% * 11; }
  &--12 { width: 6.25% * 12; }
  &--13 { width: 6.25% * 13; }
  &--14 { width: 6.25% * 14; }
  &--15 { width: 6.25% * 15; }
  &--16 { width: 6.25% * 16; }

  &--offset-1 {
    margin-left: 6.25%;
  }
}

.container {
  width: 100%;
  max-width: 144rem;
  margin-right: auto;
  margin-left: auto;
}
