@keyframes fade {
 0%   { left: -2000px; }
 100% { left: 0; }
}

.main {
  background: #ffffff;



  .page {
     animation-duration: 500ms;
    animation-timing-function: linear;
    animation-name: fade;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    background: teal;
    left: -2000px;
  }

  &.is-exiting {

    .page {
      animation-direction: alternate-reverse;
    }
  }
}
