html {
  font-weight: 400;
  font-size: 8px;
  font-family: "SF UI Text", "Helvetica Neue", "Helvetica", sans-serif;
}

.page {
  color: lighten(#252A2E, 25%);
  padding: 0;
  margin: 0;

  &--is-finished-animating {
    -webkit-font-smoothing: antialiased;
  }

  @include media-query(portable) {
    font-size: 7px;
  }
}
