@keyframes fade {
  0%  {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.main {
  background-color: #000000;

  .page {
    animation-duration: $variables-primary-transition-duration;
    animation-timing-function: $variables-secondary-timing-function;
    animation-name: fade;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;

    &--is-plaid {
      font-size: 80px;
      text-align: center;

      div {
        position: relative;
        padding-top: 80px;
      }
    }
  }

  .loading-signifier {
    animation-duration: $variables-primary-transition-duration;
    animation-timing-function: linear;
    opacity: 0;
    transition-duration: $variables-primary-transition-duration;
    transition-property: opacity;
    transition-timing-function: linear;
  }

  &.is-exiting {
    .page {
      animation-duration: 250ms;
      animation-direction: alternate-reverse;
    }
  }

  &.is-loading {
    .loading-signifier {
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: fade;
    }
  }
}
