//
// Typography
//

.heading {
  font-family: $variables-primary-font-stack;

  &--1 {
    font-size: 12rem;
    font-weight: 200;
    letter-spacing: -1px;
    line-height: 1.2;
  }

  &--2 {
    font-size: 8rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -1px;
    margin-top: 0;
  }

  &--3 {

    font-size: 4rem;
    letter-spacing: -1px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.6rem;
  }

  &--4 {
    font-weight: 700;
    font-size: 2.4rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    display: inline-block;
  }
}

.paragraph {
  
  font-family: $variables-secondary-font-stack;
  font-size: 4rem;
  line-height: 5.76rem;
  margin-bottom: 4rem;
  margin-top: 0;

  @media screen and (prefers-color-scheme: dark) {
    color: #999999;
  }

  @media screen and (prefers-color-scheme: light) {
    color: #444444;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.anchor {
  color: inherit;
  display: inline-block;
  font-family: inherit;
  position: relative;
  text-decoration: none;
  padding-left: 4px;
  padding-right: 4px;

  @media screen and (prefers-color-scheme: dark) {
    &:after {
      background: #222222;
      color: #ffffff;
    }
  }

  @media screen and (prefers-color-scheme: light) {
    color: #111111;

    &:after {
      background: #eeeeee;
    }
  }

  &:after {
    left: 0;
    bottom: 4px;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transform: scaleY(14);
    transform-origin: bottom center;
    transition: transform $variables-primary-transition-duration  $variables-primary-easing;
    width: 100%;
    z-index: -1;
  }

  &:hover {
    &:after {
      transform: scaleY(1);
    }
  }
}
