//
// Typography
//

h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 0;
  color: #252A2E;
}

p {
  font-size: 2rem;
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: darken(#252A2E, 20%);
  text-decoration: none;
}
