<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/screen.css">

  </head>
    <body>

      <!--Header-->
      <header>
        <h1><a href="/">{{ site.name }}</a></h1>
      </header>
      
      <!--Content-->
      <section class="content">
        {{ content }}
      </section>

      <!--Footer-->
      <footer>
          <section class="contact">
            <p>
              Alex Hertz<br />
              Design / Code / Music<br />
              hey@hey.al
            </p>
          </section>
          <section class="contact">
            <p>
              <a href="https://dribbble.com/alhertz">Dribbble</a>
              <a href="https://github.com/yourusername">GitHub</a>
              <a href="https://twitter.com/yourusername">Twitter</a>
            </p>
          </section>
      </footer>
  </body>
</html>
