---
title: "Al Hertz – About"
page: "index"
---

<div class="greeting">
  <div class="greeting__left-column js-greeting-left-column">
  <div id="instafeed" class="instafeed"></div>
  </div>
  <div class="greeting__right-column js-greeting-right-column">
    <div class="greeting__right-column-content u-vertically-center js-greeting-right-column-content">
      <h2 class="greeting__primary-heading">About me</h2>
      <p>Born in Baltimore, raised in Philadelphia, and educated in New Orleans, I'm a designer focused on helping technology be a better companion to creativity.</p>

      <p>Currently, I’m helping define how the next generation of financial technology is built as a designer at Plaid. Before that, I led design at Gumroad, a company designing a better commerce experience for the creative economy. During my time there, we had the honor of being featured as the #2 company in Fast Company’s “World's Top 10 Most Innovative Companies of 2015 in Design” for making e-commerce as painless as tweeting.</p>

      <p>Before that, I collaborated with friend & fellow designer Lee Martin in creating unique digital experiences that helped musicians engage their fans in a manner that honored their art and story. We also scaled that service with Suite, a set of simple marketing apps for bands and record labels.</p>

      <p>When not working, you can usually find me exploring the bay area, practicing yoga, or playing guitar.</p>
      <p><a href="/">Go back</a></p>
    </div>
  </div>
</div>
