---
title: Al Hertz – Designer
---

<div class="greeting">
  <div class="greeting__left-column js-greeting-left-column">
    <div class="greeting__left-column-image-container js-greeting-left-column-image-container">
      <span class="greeting__left-column-loading-indicator">
        <i class="fa fa-circle-o-notch fa-spin"></i>
      </span>
      <span class="greeting__left-column-image js-greeting-left-column-image"></span>
    </div>
    <ul class="social-media-links js-social-media-links">
      <li class="social-media-links__item">
        <a class="social-media-links__anchor js-social-media-links-anchor" href="https://twitter.com/alhertz">
          <i class="icon-twitter"></i>
        </a>
      </li>
      <li class="social-media-links__item">
        <a class="social-media-links__anchor js-social-media-links-anchor" href="https://dribbble.com/alhertz">
          <i class="icon-dribbble"></i>
        </a>
      </li>
      <li class="social-media-links__item">
        <a class="social-media-links__anchor js-social-media-links-anchor" href="http://www.linkedin.com/in/alexchertz">
          <i class="icon-linkedin"></i>
        </a>
      </li>
      <li class="social-media-links__item">
        <a class="social-media-links__anchor js-social-media-links-anchor" href="https://github.com/alhertz">
          <i class="icon-github"></i>
        </a>
      </li>
      <li class="social-media-links__item">
        <a class="social-media-links__anchor js-social-media-links-anchor" href="https://instagram.com/alhertz">
          <i class="icon-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="greeting__right-column">
    <div class="greeting__right-column-content u-vertically-center js-greeting-right-column-content">
      <h2 class="greeting__primary-heading">Hey, I'm Al</h2>
      <p class="greeting__first-paragraph">I’m a designer and musician based in <span class="u-desktop-line-break"></span> San Francisco  dedicated to building <span class="u-desktop-line-break"></span> useful technology for creative people.</p>
      <p>Currently, I’m helping define how the next generation of financial technology is built as a designer at <a href="https://plaid.com">Plaid</a>. Before that, I led product design at <a href="https://gumroad.com">Gumroad</a>, a company designing a better commerce experience for the creative economy. </p>
      <p>When not building software, I can usually be found exploring the Bay Area, practicing yoga, or making music.</p>
    </div>
  </div>
</div>
