---
title: "Al Hertz – Designer"
page: "index"
---

<div class="greeting">
  <div class="greeting__left-column js-greeting-left-column">
    <div class="greeting__left-column-image-container js-greeting-left-column-image-container">
      <span class="greeting__left-column-image js-greeting-left-column-image"></span>
    </div>
    <ul class="social-media-links js-social-media-links">
      <li class="social-media-links__item">
        <a class="social-media-links__anchor js-social-media-links-anchor" href="https://twitter.com/alhertz">
          <i class="icon-twitter"></i>
        </a>
      </li>
      <li class="social-media-links__item">
        <a class="social-media-links__anchor js-social-media-links-anchor" href="https://dribbble.com/alhertz">
          <i class="icon-dribbble"></i>
        </a>
      </li>
      <li class="social-media-links__item">
        <a class="social-media-links__anchor js-social-media-links-anchor" href="https://github.com/alhertz">
          <i class="icon-github"></i>
        </a>
      </li>
      <li class="social-media-links__item">
        <a class="social-media-links__anchor js-social-media-links-anchor" href="https://instagram.com/alhertz">
          <i class="icon-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="greeting__right-column js-greeting-right-column">
    <div class="greeting__right-column-content u-vertically-center js-greeting-right-column-content">
      <h1 class="greeting__primary-heading heading heading--3">Hey, I'm Al.</h1>
      <p class="paragraph greeting__paragraph greeting__paragraph--is-first">I’m a designer and musician based in San Francisco  dedicated to building useful technology for creative people.</p>
      <p class="paragraph greeting__paragraph">Currently, I’m helping define how the next generation of financial technology is built as a designer at <a class="anchor greeting__anchor" href="/plaid">Plaid</a>. Before that, I led design at <a class="anchor greeting__anchor" href="https://gumroad.com">Gumroad</a>, a company designing a better commerce experience for the creative economy.</p>
      <p class="paragraph greeting__paragraph ">When not building software, you'll find me getting outdoors, practicing yoga, making music, or redesigning this site...again <a class="anchor greeting__anchor" href="/reference">Reference</a></p>
    </div>
  </div>
</div>
