---
title: "Al Hertz – Designer"
page: "index"
---

<div class="greeting">
  <div class="greeting__left-column js-greeting-left-column">
    <div class="greeting__left-column-image-container js-greeting-left-column-image-container">
      <span class="greeting__left-column-image js-greeting-left-column-image"></span>
    </div>
    <ul class="social-media-links js-social-media-links">
      <li class="social-media-links__item">
        <a class="social-media-links__anchor js-social-media-links-anchor" href="https://twitter.com/alhertz">
          <i class="icon-twitter"></i>
        </a>
      </li>
      <li class="social-media-links__item">
        <a class="social-media-links__anchor js-social-media-links-anchor" href="https://dribbble.com/alhertz">
          <i class="icon-dribbble"></i>
        </a>
      </li>
      <li class="social-media-links__item">
        <a class="social-media-links__anchor js-social-media-links-anchor" href="https://github.com/alhertz">
          <i class="icon-github"></i>
        </a>
      </li>
      <li class="social-media-links__item">
        <a class="social-media-links__anchor js-social-media-links-anchor" href="https://instagram.com/alhertz">
          <i class="icon-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="greeting__right-column js-greeting-right-column">
    <div class="greeting__right-column-content u-vertically-center js-greeting-right-column-content">
      <h1 class="greeting__primary-heading heading heading--3">Hey! I'm Al.</h1>
      <p class="paragraph greeting__paragraph greeting__paragraph--is-first">I’m a generalist designer on a mission to build great products for creative people.</p>
      <p class="paragraph greeting__paragraph">Currently, I’m exploring the future of financial services at <a class="anchor greeting__anchor" href="https://plaid.com">Plaid</a>. Before that, I was at <a class="anchor greeting__anchor" href="https://gumroad.com">Gumroad</a> working on a better commerce experience for the creative economy.</p>
      <p class="paragraph greeting__paragraph ">When not building software, you'll most likely find me <a class="anchor greeting__anchor" href="https://www.strava.com/athletes/7047430">on a run</a>, behind a musical instrument, or trying to carve out more time to work this website.</p>
    </div>
  </div>
</div>
