<h1 class="heading heading--1">Heading 1</h1>
<h2 class="heading heading--2">Heading 2</h1>
<h3 class="heading heading--3">Heading 3</h1>
<h4 class="heading heading--4">Heading 4</h1>


<div class="container container--show-grid">
	<div class="grid-column grid-column--4">
		<h4 class="heading heading--4">Section title</h4>
	</div>
	<div class="grid column grid-column--12">
		<p class="paragraph">Plaid delivers access to the financial system with a powerful and intuitive API to any developer poised to make it better. The Dashboard is the gateway to building on Plaid and serves as the starting point through which ideas to improve financial services come to life.</p>

		<p class="paragraph">Plaid delivers access to the financial system with a powerful and intuitive API to any developer poised to make it better. The Dashboard is the gateway to building on Plaid and serves as the starting point through which ideas to improve financial services come to life.</p>
	</div>
</div>

<div class="container container--show-grid">
	<div class="grid-column grid-column--1">Col</div>
	<div class="grid-column grid-column--1">Col</div>
	<div class="grid-column grid-column--1">Col</div>
	<div class="grid-column grid-column--1">Col</div>
	<div class="grid-column grid-column--1">Col</div>
	<div class="grid-column grid-column--1">Col</div>
	<div class="grid-column grid-column--1">Col</div>
	<div class="grid-column grid-column--1">Col</div>
	<div class="grid-column grid-column--1">Col</div>
	<div class="grid-column grid-column--1">Col</div>
	<div class="grid-column grid-column--1">Col</div>
	<div class="grid-column grid-column--1">Col</div>
	<div class="grid-column grid-column--1">Col</div>
	<div class="grid-column grid-column--1">Col</div>
	<div class="grid-column grid-column--1">Col</div>
	<div class="grid-column grid-column--1">Col</div>
</div>

<span class="u-clearfix"></span>